<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
  integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<form action="/api/astroides" method="POST">
  <input type="text" name="date" placeholder='YYYY-MM-DD' class="mr-2">
  <button type="submit">search</button>
</form>
<div class="container">
  <div class="row">
    <div class="col-md-12 mt-5">
      <div class="card">
        <div class="card-header">Asteroids - Near Earth Object Web Services</div>

        <div class="card-body">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Reference ID</th>
                <th>Asteroid Name</th>
                <th>Nasa Asteroid URL</th>
                <th>Date Close to Earth</th>
              </tr>
            </thead>
            <tbody>
              {{#each data}}
              <tr>
                <td>{{ this.neo_reference_id }}</td>
                <td>{{ this.name}}</td>
               <td><a href="{{this.nasa_jpl_url}};old=0;orb=1;cov=0;log=0;cad=0#orb">{{this.nasa_jpl_url}}</a></td>
                <td>{{ this.close_approach_data.[0].close_approach_date }}</td>
              </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
        <div class="card-footer">Neo - Browse</div>
      </div>
    </div>
  </div>
</div>