<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
  integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Pretty Astro Pics</h1>
    <p class="lead text-muted">Enter a date in the format of YYYY-MM-DD</p>
    <p>
      <form action="/api/imagesByDate" method="POST">
        <input type="text" name="date" placeholder='YYYY-MM-DD' class="mr-2">
        <button type="submit">Get a Pic!</button>
      </form>
    </p>
  </div>
</section>
<section class="container">
  <div class="row imgGrid">
    {{#with data}}
    <div class="col-md-9">
      <div class="card mb-4 shadow-sm">
        {{#ifCond this.media_type "image"}}
        <img class="card-img-top" src="{{this.url}}">
        {{else}}
        <iframe id="ytplayer" type="text/html" width="640" height="360" src="{{this.url}}" frameborder="0"></iframe>
        {{/ifCond}}
        <div class="card-body">
          <h4 class="card-text">{{this.title}}</h4>
          <h5 class="card-text">{{this.date}}</h5>
          <small class="text-muted">{{this.explanation}}</small>
        </div>
          <div class="btn-group">
              <form action="/profile/share" method="POST" >
                <input name="image" value="{{this.url}}" hidden>
                <input name="description" value="{{this.date}} {{title}}: {{explanation}}" hidden>
                <button type="submit" class="btn btn-sm btn-outline-secondary">share</button>
              </form>
              {{!-- <button type="button" class="btn btn-sm btn-outline-secondary">Details</button> --}}
          </div>
      </div>
    </div>
    {{/with}}
  </div>
</section>