{{#with picDay}}
<p>copyright: {{this.copyright}}</p>
<p>date: {{this.date}}</p>
<p>explanation: {{this.explanation}}</p>
<p>media_type: {{this.media_type}}</p>
<p>title: {{this.title}}</p>
<img src="{{this.url}}" alt="">
{{/with}}