<script>
  function updateTextInput(val) {
    document.getElementById('textInput').value = val;
  }
</script>


<form action="/api/rovers" method="POST">
  <input type="radio" name="rover" value="curiosity" style="width: auto;" checked>curiosity</input>
  <input type="radio" name="rover" value="opportunity" style="width: auto;">opportunity </input>
  <input type="radio" name="rover" value="spirit" style="width: auto;">spirit </input>
  <br />
  <input type="range" id="sol" name="solDan" min="0" max="1000" value="0" step="10"
    onchange="updateTextInput(this.value);">
  <input type="text" id="textInput" value="0">
  <label for="sol">Sol</label>
  <br />
  {{!-- Camera:
  <input type="checkbox" id="FHAZ" name="cam1" value="FHAZ" />
  <input type="checkbox" id="RHAZ" name="cam2" value="RHAZ" />
  <input type="checkbox" id="NAVCAM" name="cam3" value="NAVCAM" />
date:
  <br /> --}}
  <button type="submit">request data</button>
</form>
{{#with rover}}
<p>name: {{this.name}}</p>
<p>landing_date: {{this.landing_date}} </p>
<p>launch_date: {{this.launch_date}}</p>
<p>status: {{this.status}}</p>
<p>max_sol: {{this.max_sol}}</p>
<p>max_date: {{this.max_date}}</p>
<p>total_photos: {{this.total_photos}}</p>
{{/with}}
{{#each photos}}
<p>{{this.camera.full_name}}</p>
<img src="{{this.img_src}}" alt="">
{{/each}}